@import "basic"
@import "fonts"

body
  +normal
  font-size: 16px
  line-height: 20px
  color: #000000

.container
  max-width: 1170px;
  margin: 0 auto
  padding: 0 30px

.hidden
  display: none

.loading
  position: absolute
  top: 0;
  left: 0;
  background-color: white;

@media (max-width: 1200px)
  .container
    max-width: 940px;

@media (max-width: 576px)
  .container
    padding: 0 12px



@import "blocks/header"
@import "blocks/main"
@import "blocks/design"
@import "blocks/contacts"
@import "blocks/footer"
@import "popup"

