.main
  margin-top: -203px
  &__items
    display: flex
    flex-direction: column
    list-style-type: none
    margin: 0
    padding: 0 100px
    img
      width: 100%
  &__item
    margin-bottom: 81px

.item
  &__title
    +medium
    font-size: 33px
    line-height: 39px
    margin-bottom: 18px
  &__descr
    display: flex
    justify-content: space-between
    margin-top: 25px
  &__images
    cursor: pointer
    position: relative
  &__images:hover .item__zoom-in,
  &__images:focus .item__zoom-in
    display: block
  &__image
    width: 100%
    max-height: 600px
    object-fit: cover
  &__zoom-in
    display: none
    width: 112px
    height: 112px
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    background: url("../../img/main/zoom-in.png") no-repeat center
    background-size: cover
  &__zoom-in:hover
    display: block
    cursor: pointer
  &__shots
    display: block
    position: absolute
    bottom: 15px
    right: 10px
    background: rgba(27, 198, 0, 0.5)
    color: White
    font-size: 18px
    padding: 20px 10px
    padding-left: 50px
    transition: background-color 0.3s
    &:before
      content: ""
      position: absolute
      left: 10px
      top: 50%
      transform: translateY(-50%)
      width: 30px
      height: 30px
      background: url("../../img/main/shots.png") no-repeat center
    &:hover
      background: rgba(27, 198, 0, 0.7)
      transition: color background-color 0.3s
.main__item.add
  margin-bottom: 93px
.main__item.add-4
  padding-top: 1px;
  margin-bottom: 94px;
  margin-top: -2px;

.descr
  &__left
    flex-basis: 25%
  &__material
    +medium
    font-size: 20px
    line-height: 23px
    margin-bottom: 0px
    span
      +normal
      font-size: 18px
      color: #229BCD
      margin-left: 10px
  &__size
    +medium
    font-size: 20px
    line-height: 23px
    span
      +normal
      font-size: 18px
      color: #229BCD
      display: block
  &__price
    +medium
    font-size: 22px
    line-height: 23px
    margin-top: 19px
    span
      +normal
      font-size: 25px
      color: #229BCD
      margin-left: 10px
      font-weight: bold;
  &__order
    width: 288px
    height: 54px
    background: #3dba29;
    +normal
    font-size: 21px
    line-height: 25px
    color: #FFFFFF
    border: none
    cursor: pointer
    outline: none
    &:hover,
    &:focus
      background-color: #30981f

.add
  text-align: center
  &__title
    +medium
    font-size: 33px
    line-height: 39px
    padding-top: 15px;
    margin-bottom: 17px;
  &__subtitle
    +normal
    font-size: 24px
    line-height: 28px
    margin-bottom: 76px
  &__items
    display: flex
    margin-left: -17px
    margin-right: -17px
  &__item
    flex-basis: 263px
    margin: 0 17px
    border: 1px solid #DDDDDD;
    box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.05);
    border-radius: 16px;
    overflow: hidden
    padding-bottom: 20px
    img
      margin-bottom: 15px
  &__text
    +normal
    padding-left: 5px
    padding-right: 5px
    font-size: 18px
    line-height: 23px

.add--4
  .add
    &__title
      margin-bottom: 76px
    &__items
      justify-content: space-between
    &__item
      flex-basis: 330px
      flex-shrink: 1

.add--3
  .add
    &__title
      padding-top: 1px
      margin-bottom: 79px
    &__items
      justify-content: space-between
    &__stol
      flex-basis: 460px
      flex-shrink: 1
      display: flex
      border: 1px solid #DDDDDD;
      box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.05);
      border-radius: 16px;
      overflow: hidden
      margin: 0 10px
      img
        width: 50%
        height: 100%
        object-fit: cover
    &__right
      padding: 20px 10px;

.right
  &__title
    display: inline-block
    +medium
    font-size: 15px;
    line-height: 21px;
    text-transform: uppercase
    margin-bottom: 49px
  &__list
    list-style-type: none
    text-align: left
    padding: 0
    padding-left: 16px
  &__item
    +normal
    font-size: 14px;
    line-height: 16px;
    position: relative
    &:before
      position: absolute
      left: -16px
      top: 3px
      content: ""
      display: inline-block
      width: 8px
      height: 8px
      background-color: #259DD0;
      border-radius: 50%
      margin-right: 8px
  &__item+.right__item
    margin-top: 15px



@media (max-width: 1200px)
  .main
    &__image
      max-height: 450px
  .add
    &__items
      flex-wrap: wrap
      justify-content: space-around
    &__item
      margin-bottom: 34px
      flex-basis: 200px

  .add--3
    .add
      &__items
        justify-content: space-around
      &__stol
        margin-bottom: 37px
  .item
    &__descr
      flex-wrap: wrap
      margin-top: 10px
    &__left-arrow,
    &__right-arrow
      width: 43px
      height: 43px
    &__zoom-in
      width: 84px
      height: 84px
  .descr
    &__left
      width: 50%
      flex-grow: 1
    &__price
      width: 50%
      margin-left: 0
      text-align: right
    &__order
      margin: 0 auto
      margin-top: 10px
    &__size
      span
        display: inline
        margin-left: 10px
        flex-basis: 330px
  .right
    &__title
      font-size: 18px
  .add--4
    .add
      &__items
        justify-content: space-around
      &__title
        margin-bottom: 36px
      &__item
        flex-basis: 296px
        img
          height: 192px
          object-fit: cover
          object-position: bottom

@media (max-width: 992px)
  .main
    &__items
      padding: 0


@media (max-width:768px)

  .item
    &__title
      font-size: 25px
    &__left-arrow,
    &__right-arrow
      width: 26px
      height: 26px
    &__zoom-in
      width: 54px
      height: 54px
  .descr
    &__material
      font-size: 18px
      margin-right: 10px
    &__size
      font-size: 18px
    &__price
      font-size: 18px
      span
        font-size: 20px
  .add
    &__title
      font-size: 30px
    &__subtitle
      margin-bottom: 36px
    &__item
      flex-basis: 241px;


@media (max-width: 576px)
  .item
    &__title
      font-size: 20px
    &__descr
      flex-direction: column
      align-items: center
    &__shots
      font-size: 15px
      padding: 10px
      padding-left: 50px
  .descr
    &__left
      width: 100%
      display: flex
      justify-content: space-around
      flex-wrap: wrap
    &__price
      width: 100%
      text-align: center
    &__material
      display: block
      width: 100%
      text-align: center
    &__size
      text-align: center
  .add
    &__items
      margin-left: 0
      margin-right: 0
    &__item
      margin-left: 0
      margin-right: 0
      flex-basis: 263px;
      margin-bottom: 20px
      img
        height: 150px
        object-fit: contain
  .add--3
    .add
      &__title
        margin-bottom: 36px
      &__stol
        flex-basis: 296px
        flex-direction: column
        img
          width: 100%
          height: 190px
          object-fit: cover
          object-position: bottom
      &__right
        padding: 10px 20px 20px
  .right
    &__title
      margin-bottom: 15px


